.charts-text-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-body-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
}

.rmg-coded-button-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  button {
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #d9d9d9;

    &.selected {
      background-color: #000;
      color: white;
    }
  }
}

#vis-map {
  .vis-map-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    @media (max-width: 768px) {
      align-items: flex-start;
    }

    .vis-map-value-legend {
      display: flex;
      gap: 16px;
      align-items: center;
      width: 100%;
    }
  }
  & .map-state {
    cursor: pointer;
    transition: fill 0.3s ease;

    &.map-state-filled:hover {
      fill: #c368f9;
    }
  }
}

#vis-leaderboard {
  background-color: #040078;

  .header-cell {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25;
    align-self: center;
    padding: 10px 10px;
  }
  .row-cell {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .row-rank {
    font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    @media (max-width: 480px) {
      font-size: 18px;
      line-height: 1.25;
    }
  }
  .row-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 21.5px;
    line-height: 1.4;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  .row-value {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 21.5px;
    line-height: 1.4;
  }
  .row-title-mobile {
    color: #040078;
    display: block;
  }
}

.vis-container svg,
.vis-creative-format-video svg,
.vis-creative-format-statics svg,
.vis-creative-formats-playables svg {
  overflow: visible;
}

/*
Tooltip for multiple visualizations
*/
.tooltip {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  border: 0.5px solid #000;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 16px;
  pointer-events: none;

  p {
    color: black;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }

  p.tooltip-title {
    font-weight: 700;
  }
  p.tooltip-value {
    font-weight: 700;
    font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
  }
}

/* Make the range slider handle (thumb) black */
.myRange {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 11px;
  background: #e5e5e5;
  border-radius: 20px;
  outline: none;
}

/* Webkit browsers */
.myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

/* Firefox */
.myRange::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}
.myRange::-moz-range-track {
  background: #e5e5e5;
  height: 11px;
  border-radius: 20px;
}

/* IE */
.myRange::-ms-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}
.myRange::-ms-fill-lower,
.myRange::-ms-fill-upper {
  background: #e5e5e5;
  border-radius: 20px;
}

/* Remove outline on focus for all browsers */
.myRange:focus {
  outline: none;
}

/* Remove border for Firefox */
.myRange::-moz-focus-outer {
  border: 0;
}

/* for local testing*/
.vis-creative-formats-wrapper {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: flex-start;

  @media (max-width: 480px) {
    flex-direction: column;
  }
  div:not(.tooltip) {
    width: 100%;
  }
}
