.charts-text-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-body-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
}

.rmg-coded-button-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  button {
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #d9d9d9;

    &.selected {
      background-color: #000;
      color: white;
    }
  }
}

#vis-map {
  .vis-map-container {
    .vis-map-legend-container {
      display: flex;
      justify-content: end;
      width: 100%;
      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }

    .vis-map-value-legend {
      display: flex;
      gap: 16px;
      align-items: center;
      width: 100%;
    }
  }
  & .map-state {
    cursor: pointer;
    transition: fill 0.3s ease;

    &.map-state-filled:hover {
      fill: #c368f9;
    }
  }
}

#vis-leaderboard {
  background-color: #040078;

  .header-cell {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25;
    align-self: center;
    padding: 10px 10px;
  }
  .row-cell {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .row-rank {
    font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    @media (max-width: 480px) {
      font-size: 18px;
      line-height: 1.25;
    }
  }
  .row-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 21.5px;
    line-height: 1.4;
    padding-left: 20px;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  .row-value {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 21.5px;
    line-height: 1.4;
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  .row-title-mobile {
    color: #040078;
    display: block;
  }
}

.vis-container svg,
.vis-creative-format-video svg,
.vis-creative-format-statics svg,
.vis-creative-formats-playables svg {
  overflow: visible;
}

/*
Tooltip for multiple visualizations
*/
.tooltip {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  border: 0.5px solid #000;
  z-index: 1000;
  top: 0;
  left: 0;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 16px;
  pointer-events: none;

  p {
    color: black;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
  }

  p.tooltip-title {
    font-weight: 700;
  }
  p.tooltip-value {
    font-weight: 700;
    font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
  }
}

/* Make the range slider handle (thumb) black */
.myRange {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 11px;
  background: #e5e5e5;
  border-radius: 20px;
  outline: none;
}

/* Webkit browsers */
.myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

/* Firefox */
.myRange::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}
.myRange::-moz-range-track {
  background: #e5e5e5;
  height: 11px;
  border-radius: 20px;
}

/* IE */
.myRange::-ms-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}
.myRange::-ms-fill-lower,
.myRange::-ms-fill-upper {
  background: #e5e5e5;
  border-radius: 20px;
}

/* Remove outline on focus for all browsers */
.myRange:focus {
  outline: none;
}

/* Remove border for Firefox */
.myRange::-moz-focus-outer {
  border: 0;
}

/* for local testing*/
.vis-creative-formats-wrapper {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: flex-start;

  @media (max-width: 480px) {
    flex-direction: column;
  }
  div:not(.tooltip) {
    width: 100%;
  }
}

#vis-advertiser-table {
  .header-cell-metric {
    background: #c368f9;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
  }
  .header-cell-label {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-cell-month {
    justify-content: flex-start;
    padding-left: 10%;
  }
  .cell-month {
    background: #f3dfff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    padding-left: 10%;
  }
  .cell-value {
    font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    background: #efefef;
    border-right: 1px solid #c3c3c3;
    margin-right: -3px;
    padding: 8px 0px;

    @media (max-width: 480px) {
      border-right: none;
      border-bottom: 1px solid #c3c3c3;
      margin-right: 0px;
      margin-bottom: -1px;
    }
  }
  .cell-growth {
    font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    background: #efefef;
    margin-left: -3px;
    padding: 8px 0px;
    @media (max-width: 480px) {
      margin-left: 0px;
      margin-top: -1px;
    }
  }
  .show-more {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25;
    text-decoration: underline;

    display: flex;
    align-items: center;
    padding-left: 10%;

    @media (max-width: 480px) {
      padding-left: 0;
    }

    button {
      background: none;
      /* text-transform: uppercase; */
      padding: 0;
      cursor: pointer;
    }
  }
}

#vis-general-filters {
  .vis-filter-category-container {
    position: relative;
    display: flex;
    width: fit-content;
  }
  .vis-filter-menu-container {
    right: 0;
    background-color: #ffffff;
    z-index: 10;

    border-radius: 0px 0px 10px 10px;
    width: 100%;

    &.fixed {
      top: 0;
      position: relative;
      border: 1px solid #040078;

      padding: 26px 26px 26px 26px;

      @media (max-width: 590px) {
        padding: 30px 12px 12px 12px;
      }
    }

    p {
      margin: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.25;
      color: #000000;
    }

    .filter-list {
      display: flex;
      flex-wrap: wrap;
      gap: 36px;
      margin-bottom: 0px;
      list-style: none;
      padding: 0;
      justify-content: center;

      @media (max-width: 590px) {
        gap: 36px;
      }

      .filter-item-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;

        p {
          font-weight: 500;
        }
        ul {
          padding-left: 0;
          display: flex;
          gap: 12px;
          margin-bottom: 0;
          flex-wrap: wrap;
          justify-content: center;
        }

        &:first-child {
          flex-basis: 100%;
        }

        &.disabled {
          p {
            color: #d9d9d9;
          }
          .filter-item {
            pointer-events: none;
          }
          .filter-item.inactive {
            background-color: #d9d9d9;
            cursor: not-allowed;

            .filter-icon svg circle {
              fill: #d9d9d9;
            }
          }
        }
      }

      .filter-item {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #f2f2f2;
        color: #000000;
        font-size: 16px;
        line-height: 1.25;
        border-radius: 20px;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
        @media (max-width: 590px) {
          font-size: 14px;
        }

        .filter-icon {
          width: auto;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;

          svg {
            width: 100%;
            height: 100%;
            circle {
              transition: fill 0.3s ease-in-out;
            }
          }
        }

        span {
          padding: 6px 12px 6px 0;
        }

        &.active {
          background-color: #000;
          color: #ffffff;

          .filter-icon svg circle {
            fill: #000;
          }
          .filter-icon svg path {
            fill: white;
          }
        }
        &:hover {
          background-color: #000;
          color: #ffffff;

          .filter-icon svg circle {
            fill: #000;
          }
          .filter-icon svg path {
            fill: white;
          }
        }
      }
    }
  }
}
.vis-filter-floating-container {
  position: fixed;
  bottom: 8px;
  right: 50%;
  transform: translateX(50%);
  z-index: 3;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 590px) {
    bottom: 4px;
  }

  .vis-filter-floating-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    background-color: #040078;
    color: white;
    padding: 10px 20px;
    /* width: 225px; */
    border-radius: 100px;
    border: 1px solid #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    z-index: 11;

    @media (max-width: 590px) {
      font-size: 14px;
    }

    img {
      transition: transform 0.3s ease;
    }
  }
  .vis-filter-floating-content {
    padding: 16px;
    padding-top: 0px;
    margin-top: -16px;
    transition: all 0.3s ease;

    &.open {
      display: block;
    }
    &.closed {
      display: none;
    }

    .vis-filter-floating-content-inner {
      display: flex;
      flex-direction: column;
      gap: 0;
      justify-content: center;
      align-items: center;
      width: 910px;

      @media (max-width: 590px) {
        width: 330px;
      }
    }
  }
}
